<div class="navbar bg-base-200 shadow-lg px-6 py-2">
  <div class="flex-1">
    <a href="/" class="btn btn-ghost text-3xl font-extrabold text-primary">🌎 Climate Solutions</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal gap-4 text-lg">
      <li><a class="<%= page === '/about' ? 'active font-bold' : '' %>" href="/about">About</a></li>
      <li><a class="<%= page === '/solutions/projects' ? 'active font-bold' : '' %>" href="/solutions/projects">Projects</a></li>
      <li>
        <details>
          <summary>Sectors</summary>
          <ul class="p-2 bg-base-100 rounded shadow">
            <li><a href="/solutions/projects?sector=agriculture">Agriculture</a></li>
            <li><a href="/solutions/projects?sector=industry">Industry</a></li>
            <li><a href="/solutions/projects?sector=electricity">Electricity</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>
